@import "tailwindcss";

@theme {
  /* blanc cassé  */
  /* --color-mainTheme: rgb(244 237 222); */
  /* champagne */
  --color-main-theme: rgba(247, 230, 203, 1);
  --color-second-theme: rgba(253, 230, 138, 1);
  --color-main-border: rgba(217, 168, 143, 1);
  --color-button-border: rgba(200, 141, 0, 1);
}
@layer components {
  .btn {
    @apply font-bold text-center rounded w-32 border-2 border-button-border bg-main-theme  px-2 active:brightness-90 active:border-cyan-900;
  }
  .main-border {
    @apply border-2 rounded-2xl border-main-border shadow shadow-main-border;
  }
  .card-border {
    @apply border rounded-2xl border-main-border/70 shadow shadow-main-border;
  }
  .gradient-title {
    @apply text-center font-bold text-transparent;
  }
  .sticky-blur {
    @apply bg-main-theme/10  sticky top-0 z-19 backdrop-blur-md;
  }
  .gradient-border {
    @apply absolute bottom-0 left-0 right-0 h-[1px];
  }
  .input-border {
    @apply border-2 pl-1 border-main-border bg-amber-50 rounded;
  }
}
* {
  box-sizing: border-box;
}
#root {
  margin: 0;
  padding: 0;
}
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --title-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;
  --accent-font: "Lora", serif;
  --text-color: rgba(0, 0, 0, 0.55);
}
p,
a,
button {
  font-family: var(--accent-font);
}
/* p {
  color: var(--text-color);
} */
h1,
h2,
h3 {
  font-family: var(--title-font);
  color: var(--text-color);
}
h1 {
  letter-spacing: -0.04rem;
}
h2 {
  letter-spacing: -0.02rem;
}
h3 {
  letter-spacing: -0.01rem;
}
.ql-editor img {
  max-width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  margin: auto;
}
.ql-container.ql-snow {
  height: 45rem;
  overflow-y: scroll;
  border: 2px solid black;
}
