@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-mainTheme: rgb(254 243 199); /* amber 100 */
  --color-secondTheme: rgb(253 230 138); /* amber 200 */
  --color-mainBorder: rgb(180 83 9); /* amber 800 */
  --color-buttonBorder: rgb(217 119 6); /* amber 600 */
  --color-shadow: gray;
  --color-test: rgba(0, 0, 0, 0.1);
}
@layer components {
  .btn {
    @apply font-bold text-center rounded w-32 border-2 border-buttonBorder bg-secondTheme  px-2 active:brightness-90 active:border-cyan-900;
  }
  .main-border {
    @apply border-2 rounded-2xl border-mainBorder;
  }
  .card-border {
    @apply border rounded-2xl border-mainBorder shadow shadow-mainBorder;
  }
  .gradient-title {
    @apply text-center font-bold text-transparent;
  }
}
* {
  box-sizing: border-box;
}
#root {
  margin: 0;
  padding: 0;
}
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --title-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;
  --accent-font: "Lora", serif;
  --text-color: rgba(0, 0, 0, 0.55);
}
p,
a,
button {
  font-family: var(--accent-font);
}
/* p {
  color: var(--text-color);
} */
h1,
h2,
h3 {
  font-family: var(--title-font);
  color: var(--text-color);
}
h1 {
  letter-spacing: -0.04rem;
}
h2 {
  letter-spacing: -0.02rem;
}
h3 {
  letter-spacing: -0.01rem;
}
.ql-editor img {
  max-width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  margin: auto;
}
.ql-container.ql-snow {
  height: 30rem;
  border: 2px solid black;
}
